<h1>JOURNAL ENTRY @Model.Id :</h1>

<h2>@Model.Location</h2>

<p>Date: @Model.Date</p>
<p>Amount of Days Traveled: @Model.Days</p>
<p>Traveled With: @Model.TravelPartners</p>
<p>@Model.JournalEntry</p>
<br>
<a href='/entries/new'>Enter Another Entry</a>
<a href='/entries'>View List of Entries</a>